@model Rate_A_Cop.Models.Officer

@{
    ViewBag.Title = "Details";
}

<h2>Officer Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Badge Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeNumber)
        </dd>

        <dt>
            Officer Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficerName)
        </dd>

    </dl>
</div>
<p>
    <a href=@Url.Action("Index", "Reviews")><span class="btn btn-default">Back to Reviews</span></a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.OfficerID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>

<table class="table">
    <tr>
        <th>
            Officer
        </th>
        <th>
            Review
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Officer.OfficerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
        </tr>
    }

</table>

