@*@model IEnumerable<Rate_A_Cop.Models.Officer>*@
    @model PagedList.IPagedList<Rate_A_Cop.Models.Officer>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Officers";
}
<div class="col-md-2"></div>
<div class="col-md-8">

    <h2>Officers</h2>

    @using (Html.BeginForm("Index", "Officer", FormMethod.Get))
    {
        <p class="searchbar">
            Search for: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.BadgeNumber)*@
                @Html.ActionLink("Badge Number", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.OfficerName)*@
                @Html.ActionLink("Officer Name", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BadgeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerName)
                </td>
            </tr>
        }

    </table>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>